@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Inter', sans-serif;
}


.layout {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid:
    "header" 160px
    "main" 1fr
    "footer" auto
    / 1fr;
  gap: 8px;
}

.header { grid-area: header;

}
.main { grid-area: main;
  
}
.footer { grid-area: footer;
  
  
}

.rectangle-red {
width: 100%;
height: 150px;
background-color: #DD1A1A;

}


.rectangle-black {
  width: 100%;
height: 60px;
background-color: black;
position: relative;
bottom: -90px;
}

.circle-big {
width: 110px;
height: 110px;
background-color: white;
border: 8px solid black;
border-radius: 80px;
position: absolute;
bottom: 0px;
left: 46%;
display: flex;
justify-content: center;
align-items: center;
}

.circle-small {
  width: 60px;
height: 60px;
background-color: #212121;
border: 8px solid black;
border-radius: 50px;

}

.main img {
display: block;
margin: auto;
margin-bottom: 70px;

} 


.main > * {
  text-align: center;
}

.main h1 {
  font-size: 40px;
  font-weight: bold;
  color: #FE1936;
  margin-bottom: 16px;
}

.main h3 {
  font-size: 20px;
  margin-bottom: 50px;
}

.input-home {
  background-color: #eee;
 border: none;
 padding: 1rem;
 font-size: 1rem;
 width: 21em;
 
 color: lightcoral;
 box-shadow: 0 0.4rem #dfd9d9;
 cursor: pointer;
}

.button-home {
  height: 62px;
  padding: 10px 40px;
  margin: 0px 2px 2px 0px;

  border-radius: 3px;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  background-color: #D93F3F;
  border: none;
  border-bottom: 5px solid #dd3333;
  text-shadow: 0px -2px #dd3333;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  cursor: pointer;
}

.circlebigh {
left: 85%;
top: 60px;

}

.pokeimg {
  position: absolute;
  top: 0;
  width: 431px;
  height: 76px;
  margin-top: 50px;
  margin-left: 10%;
}

.main2 {
  margin: 2% 10%;
}

.main2 h3 {
  color: #FE1936;
  text-align: left;
  margin-bottom: 20px;
}

.sp {
  color: black;
  font-weight: lighter;
}

.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
} 
.select select {
  font-size: 20px;
  height: 62px;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 13px;
  outline: 0;
  border: 1px solid #d1cccc;
  border-radius: 0px;
  background: #fffefe;
  color: #030303;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: 0 0.1rem #dfd9d9;
}

.container-search {
  display: flex;
  gap: 3%;
}

.input-button {
  display: flex;
}

.input-poke { 
height: 61px;
box-shadow: none;
width: 25em;
}

.select_arrow {
  position: absolute;
  top: 28px;
  right: 15px;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0px 5px;
  border-color: #7b7b7b transparent transparent transparent;
}


.card-pokemonn {
background-color: rgb(235, 243, 239);
margin: auto;
margin-top: 10%;
width: 80%;
height: fit-content;
padding-bottom: 4%;


}

.image-pokefull {
  width: 250px;
  height: 260px;
  
  display: block;
  margin: auto;
  position: relative;
  top: -120px;
}

.head-pokefull {
  width: 100%;
  height: 120px;
  background: linear-gradient(179.75deg, #E62D2D -19.96%, #D13E3E 43.67%, #F07F7F 138.4%);
}

.h1-pokefull {
  
  border: solid 1px gray;
  width: fit-content;
  margin: auto;
  margin-top: 15px;
  padding: 4px 6px;
 
}

.name-pokefull {
text-align: center;
font-size: 35px;
margin-top: 10px;
text-transform: capitalize;
}

.peso-pokefull {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 50px 50px;
  justify-content: center;
  text-align: center;
  column-gap: 5%;

}

.tipo-hab {
  margin-top: 20px;
  display: flex;
  justify-content:space-around;
  
 
}

.tip {
  display: flex;
  gap: 10%;
}

.hab {
  display: flex;
  gap: 10%;
}

.div-hab {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

.card-tip {
  border: solid 1px gray;
  width: 180px;
  text-align: center;
  padding: 5px;
}

.stast {
  margin-top: 30px;
  margin-left: 5%;
 margin-right: 5%;
  display: flex;
}

.linea {
  width: 100%;
  padding-left: 20px;
  padding-top: 15px;
}

.stast-container {
  display: flex;
  margin: 20px 20px;
  padding: 24px 10px 18px;
  margin-left: 40px;
}

.stast-name {
position: relative;
width: 110px;
text-align: left;
margin-top: -2px;
text-transform: uppercase;
font-weight: bold;
}

.value {
  font-weight: bold;
  position: relative;
  width: 40px;
  text-align: left;
  margin-top: -2px;
text-transform: uppercase;
}

.percent {
  position: relative;
  width: calc(100% - 190px);
  height: 20px;
  margin: 0 10px;
  border-radius: 10px;
  background: #ffffff;
  
  overflow: hidden;
}

.progress {
  position:absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(90deg, #FCD676 -2.25%, #E6901E 133.18%);
  box-shadow: inset 0 0 2px #000;
}

.marginb {
  margin-top: 50px;
  margin-bottom: 50px;
}

.movements-i {
  height: fit-content;
  width: fit-content;
  padding: 12px;
  margin: 10px;
 font-size: 20px;
  background-color: #E5E5E5;
  border-radius: 18px;
}

.container-movs {
  display: flex;
  flex-wrap: wrap;
}

.Card-pokes {
  width: 260px;
  height: 370px;
  border: solid 5px #E52D2D;
  border-radius: 20px;
  margin: 5px;
  margin-top: 20px;
  outline: 1px solid #FFFFFF;
  transition: outline 0.7s ease 0s;
}

.container-red {
  width: 250px;
  height: 128px;
  background: linear-gradient(179.75deg, #E62D2D -19.96%, #D13E3E 43.67%, #F07F7F 138.4%);
  border-radius:  10px 10px 0 0;

}

.img-card1 {
  width: 150px;
  height: 160px;
  display: block;
  margin: auto;
  position: relative;
 
  
}

.card-nam {
  margin-top: 25px;
  text-align: center;
 color: #E52D2D;
}

.card-t {
  
  
  text-align: center;
  color: #4F4F4F;
  font-size: 15px;
  font-weight:normal;
}

#tipo {
  text-align: center;
  font-size: 12px;
  color: #4F4F4F;
  margin: 5px;
  margin-bottom: 10px;
}

.div-data {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  row-gap: 10px;
}

.color-c {
  color: #9F9F9F;
  font-size: 12px;
}

.color-n{
  color: #E52D2D;
}

.container-li1 {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5%;
  column-gap: 2%;
  justify-content: center;
}

.lii {
  list-style: none;
}

.link-crad {
  text-decoration: none;
  
}

.mmm {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pag-ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.pag-button {
margin-top: 20px;
  width: 90px;
  height: 90px;
  background-color: #DD1A1A;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  border: none;
  cursor: pointer;
}

.pag-button:hover {
  background-color: blue;
}

.grass {
  border: 5px solid #B1DBBC;
}

.c-grass {
  background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);

}

.n-grass{
color: #416460;
}




.fire {
  border: 5px solid #E6901E;
}

.c-fire {
  background: linear-gradient(176.37deg, #F96D6F -32.26%, #E35825 22.55%, #E8AE1B 125.72%);


}

.n-fire{
color: #E75C35;
}





.water {
  border: 5px solid #83B9FF;
}

.c-water {
  background: linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%);

}

.n-water{
color: #1479FB;
}





.bug {
  border: 5px solid #4AB648;
}

.c-bug {
  background: linear-gradient(177.56deg, #62DB60 -58.92%, #3BB039 16.57%, #AAFFA8 209.53%);


}

.n-bug{
color: #4AB648;
}





.normal { border: 5px solid #735259;  }

.c-normal {
  background: linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);


}

.n-normal{  color: #735259;    }



.poison { border: 5px solid #5B3184;  }

.c-poison{
  background: linear-gradient(177.03deg, #5B3184 -11.97%, #A564E3 71.28%, #CE9BFF 135.64%);



}

.n-poison{  color: #5B3184;    }





.electric { border: 5px solid #FDDE67;  }

.c-electric{
  background: linear-gradient(177.03deg, #f9dd0b -11.97%, #f5f550 71.28%, #f6f3a4 135.64%);



}

.n-electric{  color: #e6cc09;    }




.ground { border: 5px solid #654008;  }

.c-ground{
  background: linear-gradient(179.75deg, #654008 -19.96%, #895C1A 43.67%, #D69638 138.4%);




}

.n-ground{  color: #654008;    }




.fighting { border: 5px solid #96402A;  }

.c-fighting{
  background: linear-gradient(176.83deg, #96402A -8.78%, #F1613C 169.09%, #CB735D 242.33%);



}

.n-fighting{  color: #96402A;    }




.rock { border: 5px solid #7E7E7E;  }

.c-rock{
  background: linear-gradient(177.03deg, #7E7E7E -11.97%, #8D8D94 57.49%, #D3D3D3 135.64%);




}

.n-rock{  color: #7E7E7E;    }




.ghost{ border: 5px solid #323569;  }

.c-ghost{
  background: linear-gradient(177.03deg, #323569 -11.97%, #454AA8 57.49%, #787DDA 135.64%);





}

.n-ghost{  color: #323569;    }





.ice{ border: 5px solid #6FBEDF;  }

.c-ice{
  background: linear-gradient(177.03deg, #6FBEDF -11.97%, #64CBF5 47.77%, #BDEBFE 136.72%);





}

.n-ice{  color: #6FBEDF;    }




.dragon{ border: 5px solid #478A93;  }

.c-dragon{
  background: linear-gradient(179.75deg, #478A93 -19.96%, #56A4AE 43.67%, #A2BEC1 138.4%);






}

.n-dragon{  color: #478A93;    }






.dark{ border: 5px solid #0B0E0D;  }

.c-dark{
  background: linear-gradient(177.03deg, #030706 -11.97%, #0D1211 57.49%, #5A5E5D 135.64%);

}

.n-dark{  color: #030706;    }





.fairy{ border: 5px solid #971B45;  }

.c-fairy{
  background: linear-gradient(179.75deg, #971B45 -19.96%, #C23867 43.67%, #CD7D98 138.4%);
}

.n-fairy{  color: #971B45;    }




.psychic{ border: 5px solid #E52D2D;  }

.c-psychic{
  background: linear-gradient(179.75deg, #E62D2D -19.96%, #D13E3E 43.67%, #F07F7F 138.4%);

}

.n-psychic{  color: #E52D2D;    }




.flying{ border: 5px solid #0C1395;  }

.c-flying{
  background: linear-gradient(179.75deg, #0C1395 -19.96%, #2B319B 43.67%, #7075D9 138.4%);

}

.n-flying{  color: #0C1395;    }


.Card-pokes:hover {
  outline: 4px solid #e82103;

}


.nextback{
  background-color: #030303;
}